body {
    margin-top: 10rem;
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    font-weight: bolder;
    color: #7c3aed;
    font-style: italic;
    margin: auto;
}

.information {
    color: black;
    font-weight: lighter;
    margin: 2rem auto;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    font-weight: bolder;
    width: 100%;
    max-width: 100%;
}

#date-of-birth {
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    margin: 1rem auto;
    font-size: large;
    background-color: white;
    border: none;
}

#lucky-number {
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    margin: 1rem auto;
    font-size: large;
    background-color: white;
    border: none;
}

#check-number {
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    margin: 1rem auto;
    background-color: #7c3aed;
    color: white;
    cursor: pointer;
    font-size: large;
}

#output-box {
    color: #7c3aed;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

.social-media {
    text-align: center;
    margin: 1rem auto;
    font-style: italic;
    font-weight: bolder;
}

.alert {
    font-style: normal;
    font-weight: bold;
    text-align: center;
    display: block;
    color: black;
}